* {
    font-family: Verdana, sans-serif;
    margin: 0;
}

#navbar {
    display: flex;
    background-color: #1F2937;
    align-items: center;
    justify-content: space-between;
}

#navbar * {
    display: inline-block;
}

#navbar p {
    font-size: 24px;
    color: #F9FAF8;
    padding-left: 10%;
    padding-top: 18px;
}

#links {
    padding-right: 10%;
    padding-top: 18px;
}

#links a {
    font-size: 18px;
    color: #E5E7EB;
    padding-left: 24px;
}

#prvaSekcija {
    height: 500px;
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4%;
}

#tekstDio {
    width: 38%;
    height: 50%;
    padding: 0;
    margin: 0;
}

#heroTekst {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin-top: 0;
    margin-bottom: 0;
}

#t2 {
    font-size: 18px;
    color: #E5E7EB;
}

#fejkGumb {
    background-color: #3882F6;
    width: 110px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#fejkGumb a {
    color: #F9FAF8;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

#prvaSekcija img {
    width: 38%;
    padding: 0;
    margin: 0;
}

#drugaSekcija {
    height: 500px;
    background-color: #F9FAF8;
}

#drugaSekcija h2 {
    width: 100%;
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    padding-top: 35px;
    padding-bottom: 35px;
}

#horizontalniBox {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3%;
}

.vertikalniBox img {
    height: 150px;
    width: 150px;
    border: 4px solid #3882F6;
    border-radius: 10px;
}

.vertikalniBox p {
    width: 150px;
    font-size: 16px;
    color: gray;
    text-align: center;
}

#trecaSekcija {
    height: 500px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#t3 {
    width: 80%;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1F2937;
}

#t4 {
    width: 80%;
    text-align: right;
    font-weight: bold;
    font-size: 24px;
}

#cetvrtaSekcija {
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#kutija1 {
    height: 150px;
    width: 80%;
    border-radius: 10px;
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#kutija2 {
    padding-left: 10%;
}

#fejkGumb2 {
    margin-right: 10%;
    border: 3px solid #F9FAF8;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#fejkGumb2 a {
    color: #F9FAF8;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

#t5 {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

#t6 {
    font-size: 18px;
    color: #E5E7EB;
}

footer {
    background-color: #1F2937;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    color: #F9FAF8;
    font-size: 18px;
}